<div class="container-fluid">

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<form class="form-inline">
				<div class="form-group">
					<input class="form-control" type="text" ng-model="query" placeholder="find something?" title="Find" style="margin-bottom:20px;">
				</div>
			</form>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table table-striped">
				<tr>
					<th>Action</th>
					<th>Date</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Tags</th>
					<th>Wallet</th>
					<th>PoU (%)</th>
					<th>Frequency Type</th>
					<th>Frequency</th>
				</tr>
				<tr ng-repeat="mov in movements | filter:query">
					<td>
						<a href="#/update/{{mov._id}}" class="btn btn-primary btn-sm" title="Update"><span class="glyphicon glyphicon-edit"></span></a>
						<button type="button" ng-click="delete(mov._id)" class="btn btn-danger btn-sm" title="Delete">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
					<td>{{mov.date | date:'dd-MM-yyyy'}}</td>
					<td>{{mov.description}}</td>
					<td ng-class="mov.amount >= 0 ? 'success' : 'danger'">{{mov.amount}}</td>
					<td>{{mov.tags}}</td>
					<td>{{mov.wallet}}</td>
					<td>{{mov.PoU}}</td>
					<td>{{mov.frequencytype}}</td>
					<td>{{mov.frequency}}</td>
				</tr>
			</table>

		</div>
		<div class="col-md-2"></div>

	</div>
</div>